@use '../helpers' as *;
@use '../variables' as *;

.btn {
  display: inline-block;
  color: $colorWhite;
  font-weight: 600;
  font-size: inherit;
  line-height: 100%;
  padding: 14px 40px;
  border-radius: $borderRadiusLarge;
  transition: $transitionDuration;
}

.btn-accent {
  background-color: $colorAccent;

  &:hover {
    color: $colorAccent;
    background-color: $colorAccentHover;
  }
}

.btn-dark {
  background-color: $colorViolet;
  border: 1px solid $colorWhite;

  &:hover {
    color: $colorAccent;
    background-color: $colorWhite;
    border: 1px solid $colorAccent;
  }
}

.btn.btn-review {
  color: $colorBlack;
  font-size: $textFontSize;
  background-color: $colorWhite;
  border: 1px solid $colorAccent;

  &:hover {
    color: $colorWhite;
    background-color: $colorAccent;
  }
}

.btn.btn-subscribe {
  font-size: $textFontSize;
  background-color: $colorAccent;

  &:hover {
    color: $colorAccent;
    background-color: $colorAccentHover;
  }
}

@include mobile-s {
  .btn {
    padding: 12px 28px;
  }

  .btn.btn-review,
  .btn.btn-subscribe {
    font-size: $baseFontSize;
  }
}

@media (width <= 364px) {
  .btn {
    padding: 12px 16px;
  }
}

//<button class="btn btn-accent " type="button">
//    Buy now
//</button>
//<button class="btn btn-dark" type="button">
// How it’s made
//</button>
//<button class="btn btn-review" type="button">
//   Leave a review
//</button>
//<button class="btn btn-subscribe" type="button">
//      Subscribe
//</button>
