@use '../helpers' as *;
@use '../variables' as *;

.footer {
  // .footer__body
  &__body {
    padding: 50px 32px;
    background-color: $colorViolet;
  }

  // .footer__info
  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 62px;
  }

  // .footer__info-title
  &__info-title {
    font-size: 28px;
    font-weight: 500;
    line-height: 34px;
    color: $colorWhiteOpacity;
    text-align: left;
    width: 302px;
    margin: 0;

    span {
      color: $colorAccent;
    }
  }

  // .footer__info-contacts
  &__info-contacts {
    display: flex;
    gap: 62px;

    .info {
      // .info__contact
      &__contact {
        flex: 0 1 164px;
      }

      // .info__contact-text
      &__contact-text {
        color: $colorWhiteOpacity;
        margin-bottom: 14px;
      }

      // .info__contact-phone
      &__contact-phone {
        color: $colorWhiteOpacity;
      }

      // .info__contact-email
      &__contact-email {
        color: $colorWhiteOpacity;
      }

      &__contact-link {
        color: $colorWhiteOpacity;
      }

      // .info__soc1al-items
      &__soc1al-items {
        display: flex;
        align-items: center;
        gap: 18px;
      }

      // .info__soc1al-link
      &__soc1al-link {
        color: $colorWhiteOpacity;
        fill: transparent;
        fill-opacity: 0;

        &:hover,
        &:active {
          color: $colorAccent;
          transition: $transitionDuration;
        }
      }
    }
  }

  @include mobile {
    &__info-contacts {
      gap: 50px;
    }
  }

  // .footer__menu-list
  &__menu-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  // .footer__menu-link
  &__menu-link {
    color: $colorWhiteOpacity;
    font-size: $baseFontSize;
    font-weight: 500;
    line-height: 16px;

    &:hover,
    &:active {
      font-weight: 600;
      color: $colorAccent;
      transition: $transitionDuration;
    }
  }

  @include mobile {
    &__info {
      margin-bottom: 50px;
    }
  }

  @media (max-width: 733.98px) {
    &__info {
      flex-direction: column;
      gap: 32px;
      align-items: center;
    }
  }

  @include mobile-s {
    &__body {
      padding: 32px 20px;
    }
    &__info {
      align-items: flex-start;
    }
    &__info-title {
      font-size: $titleFontSize;
      width: 228px;
    }
    &__menu-list {
      flex-direction: column;
      gap: 18px;
      align-items: flex-start;
    }
  }

  @media (max-width: 320px) {
    &__info-contacts {
      gap: 20px;
    }
  }
}

.vertical {
  // .vertical__line
  &__line {
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 24px;
  }
}
