@use '../helpers' as *;
@use '../variables' as *;

.products {
  &__title {
    margin-bottom: 50px;
  }
  // .products__card
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 364px;
    padding: 32px 20px;
    background-color: $colorWhite;
    border-radius: $borderRadiusSmall;
  }
  // .products__card-image
  &__card-image {
    margin-bottom: 8px;
  }
  // .products__card-subtitle
  &__card-subtitle {
    font-size: $textFontSize;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  // .products__card-chocolate
  &__card-chocolate {
    color: rgba(17, 17, 17, 0.7);
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 18px;
  }
  // .products__card-price
  &__card-price {
    font-size: 14px;
    font-weight: 600;
    line-height: 100%;
    padding: 8px 20px;
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: $borderRadiusLarge;
    background: $colorWhiteOpacity;
  }
}

// .swiper {
//   width: 100%;
//   height: 100%;
// }

// .swiper-wrapper {
//   margin-bottom: 32px;
// }

// .productsPagination.swiper-pagination {
//   position: static;
// }

// .swiper-pagination-bullet {
//   width: 13px;
//   height: 13px;
//   transition: $transitionDuration;
// }

// .swiper-pagination-bullet-active {
//   width: 28px;
//   border-radius: $borderRadiusSmall;
//   background: $colorAccent;
// }
