@use '../helpers' as *;
@use '../variables' as *;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  margin-bottom: 32px;
}
.chocolateWrapper.swiper-wrapper {
  height: 242px;
  margin-bottom: 32px;
}

.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 13px;
  height: 13px;
  transition: $transitionDuration;
}

.swiper-pagination-bullet-active {
  width: 28px;
  border-radius: $borderRadiusSmall;
  background: $colorAccent;
}
