@use '../helpers' as *;
@use '../variables' as *;

.explore {
  margin-bottom: 0;
  // .explore__body
  &__body {
    padding: 72px 0;
    background: url('/src/image/explore/bg_image.png') 100% center / cover
      no-repeat;
  }

  @include mobile {
    &__body {
      background: url('/src/image/explore/bg_image-768.png') 100% center / cover
        no-repeat;
    }
  }

  &__block {
    margin: 0 auto;
    width: 470px;
  }

  @media (max-width: 540px) {
    &__body {
      padding: 62px 20px;
      background: url('/src/image/explore/bg_image-480.png') 100% center / cover
        no-repeat;
    }
    &__block {
      width: 375px;
    }
  }

  // .explore__title
  &__title {
    margin-bottom: 24px;
    color: $colorWhiteOpacity;
    font-size: $titleFontSize;
    font-weight: 600;
    line-height: 28px;
    text-align: center;
    width: 378px;
  }

  @include mobile-s {
    &__block {
      padding: 40px 0px;
      width: 250px;
    }
    &__title {
      font-size: 20px;
      width: 260px;
    }
  }

  // .explore__text
  &__text {
    color: $colorWhiteOpacity;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    margin-bottom: 24px;
  }

  // .explore__btn
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
}
