@use '../helpers' as *;
@use '../variables' as *;

.header {
  position: relative;
  padding: 24px 0 32px;
  // .header__content
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  // .menu__list
  &__list {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
  }

  // .menu__link
  &__link {
    color: inherit;
    font-size: $baseFontSize;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: -0.2px;

    &:hover,
    &:active {
      font-weight: 600;
      color: $colorAccent;
      transition: $transitionDuration;
    }
  }
}

.soc1al {
  // .soc1al__items
  &__items {
    display: flex;
    align-items: center;
  }

  &__link {
    color: $colorBlack;
    fill: transparent;
    fill-opacity: 0;

    &:hover,
    &:active {
      color: $colorAccent;
      transition: $transitionDuration;
    }
  }

  &__link:not(:last-child) {
    margin-right: 18px;
  }
}

//======================== Burger Menu =======================
.header__burger-btn {
  display: none;
  position: relative;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

@include mobile-s {
  .header__burger-btn {
    width: 28px;
    height: 28px;
  }
}

.header__burger-btn span {
  position: absolute;
  width: 28px;
  height: 2px;
  border-radius: $borderRadiusSmall;
  top: 15px;
  right: 0;
  background-color: $colorBlack;
  transition:
    transform 0.5s,
    opacity 0.5s,
    background-color 0.5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span {
  background-color: $colorWhite;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

// ======================= / Burger Menu =============================

// ====================== Media Burger Menu ========================
@include tablet-s {
  .header__burger-btn {
    display: block;
  }

  .header__logo img {
    width: 169px;
  }

  .menu {
    position: relative;

    &__body {
      position: absolute;
      left: 100%;
      top: 0;
      width: 290px;
      height: 100vh;
      background-color: $colorBlack;
      padding: 155px 80px 0;
      transition: transform 0.5s;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
    }

    &__link {
      color: $colorWhite;
    }
  }

  .soc1al {
    &__items {
      position: absolute;
      top: 92vh;
      right: rem(-80);
      transition: transform 0.6s;
    }

    &__link {
      color: $colorWhite;
    }
  }

  .header.open .menu__body {
    transform: translateX(-100%);
  }

  .header.open .soc1al__items {
    transform: translateX(rem(-280));
  }
}

// ====================== / Media Burger Menu ========================
