@use 'helpers' as *;
@use 'variables' as *;

body {
  font-family: Montserrat, sans-serif;
  font-size: $baseFontSize;
  color: $colorBlack;
  background-color: $colorWhiteOpacity;
}

.wrapper {
  overflow: hidden;
  display: flex; /* потрібен код, щоб надалі можна було прикріпити футер донизу */
  flex-direction: column; /* потрібен код, щоб надалі можна було прикріпити футер донизу */
  min-height: 100%; /* обгортка займатиме щонайменше всю висоту вікна браузера */

  > .main {
    flex: 1 1 auto; /* притискає футер донизу */
  }
}

// .main {
//   flex: 1 1 auto;flex /* притискає футер донизу */
// }

[class*='__container'] {
  /* селектор атрибута */
  max-width: 1165px;
  margin: 0 auto;
  padding: 0 15px; /* (відступи безпеки, щоб вміст не притискався до країв сторінки); при додаванні відступу в 15px у min-width додаємо 30px, і значення буде не 1250px, а 1280px */
}

section {
  margin-bottom: 128px;
}

@include mobile {
  section {
    margin-bottom: 100px;
  }
}

@include mobile-s {
  section {
    margin-bottom: 72px;
  }
}
